{% extends "base.html" %}
{% load url from future %}

{% block title %}Vis.js{% endblock %}

{% block head %}

    {{ block.super }}
    <script type="text/javascript" src="{{ STATIC_URL }}js/vis.js"></script>
    <link href="{{ STATIC_URL }}css/vis.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        #mynetwork {
            width: 100%;
            height: 100%;
            border: 1px solid lightgray;
        }
    </style>

{% endblock %}

{% block content %}

<div id="mynetwork">

<script type="text/javascript">

    // vis.js options
    var options = {
        nodes: {
            borderWidth: 2,
            shadow: true
        },
        edges: {
            width: 1,
            shadow: true
        }
    };

    // create an array with nodes
    var nodes = new vis.DataSet([
    {% for node in nodes %} 
        {id: '{{ node.id }}', label: '{{ node.label }}', shape: '{{ node.shape }}', size: {{node.size}}, color: { background: '{{node.color}}', border: '{{node.color_border}}', highlight : { border : '{{node.color_highlight_border}}', background : '{{node.color_highlight}}' } } },
    {% endfor %}
    ]);

    // create an array with edges
    var edges = new vis.DataSet([
    {% for edge in edges %}
        {from: '{{ edge.from_id }}', to: '{{ edge.to_id }}'},
    {% endfor %}
    ]);

    // create a network
    var container = document.getElementById('mynetwork');

    // provide the data in the vis format
    var data = {
        nodes: nodes,
        edges: edges
    };

    // initialize your network!
    var network = new vis.Network(container, data, options);
</script>

</div>

{% endblock %}
